
//color
$primary-color: #272727;
$secondary-color: #ff652f;
$text-color:white;

//font
$font-family:"Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

// paths for images
$pathName1:'../images/model-1.jpg';
$pathName2:'../images/project-1.jpg';
$pathName3:'../images/project-2.jpg';
$pathName4:'../images/project-3.jpg';
$pathName5:'../images/project-4.jpg';
$pathName6:'../images/project-5.jpg';